ul {
    padding:0 ;
    list-style: none;
    text-align: center;
}

.profile {

}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    /* margin-left: auto; */
}

p {
    text-align: center;
}