.friend_list {
    margin-top: 40px;
    padding: 16px;
    width: 340px;
margin-left: auto;
margin-right: auto;
    text-align: center;
    list-style: none;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
    background-color: beige;
    color: rgb(117, 117, 131);
    font-size: 24px;
}

.item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 8px;
   padding: 8px;
   margin-left: auto;
   margin-right: auto;
   border: 2px solidrgb(117, 117, 131);;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
    width: 300px;
    -webkit-box-shadow: 1px 7px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 1px 7px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 1px 7px 24px 0px rgba(66, 68, 90, 1);
}

.status_off, .status_on {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.status_on {
    background-color: green;
}

.status_off {
    background-color: red;
}

.avatar {
    display: block;
    width: 60px;
}